<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Root/Styles/blog.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <link rel="stylesheet" href="../Styles/nav1.css">
    <link rel="stylesheet" href="../Styles/foot.css">
    <link rel="stylesheet" href="../Styles/blog.css">
    <link rel="icon" href="../Assets/img/logoMountainBlanco.png">
    <title>Blog Mountain Hike</title>

</head>

<body>

    <header class="header">
        <a href="../index.html" class="logo">
            <img src="../Assets/img/logoMountainBlanco.png" alt="logo de la compañia" class="logo-img" />
        </a>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>

        <nav class="navbar">
            <a href="../../index.html" class="nav-menu-item nav-link">Home</a>
            <a href="nosotros.html" class="nav-menu-item nav-link">Nosotros</a>
            <a href="Asesoramiento.html" class="nav-menu-item nav-link">Recorridos</a>
            <a href="blog.html" class="nav-menu-item nav-link">Blog</a>
            <a href="https://www.cba.gov.ar/escuelas-proa/">¿Que es PRoA?</a>
            <a href="loginPage.html" class="nav-menu-item nav-link">Iniciar sesión</a>
            <label for="check" class="esconder-menu">
                &#215
            </label>
        </nav>
    </header>
  

    <main class="seccion-novedades">
        <div class="container">
            <h1 class="text-center titprincipal"> ¡Novedades! </h1>
            <h4 class="text-center">Noticias de las Últimas semanas</h4>
            <div class="row  borde-noticia  mb-3">
                <div class="col-xl-4 col-md-12 col-sm-12 pl-0 mb-3">
                    <p class="ms-3"></p>
                    <img src="../Assets/img/cerrochampaqui2.jpg" class="card-img-top " alt="cerro champaqui">
                </div>
                <div class="col-xl-8 col-md-12 col-sm-12 pt-4">
                    <h2 class="h4"> El Pasado Mes de Mayo en 3 ter Año Visito la Fabrica Arcor S.A.I.C</h2>
                    <p> Estudiantes de 3año visitaron la planta de la Fábrica Arcor SAIC. 🍭🧁🍪🍫🍬🍰
                        Hermosa  jornada de aprendizaje. 
                        Gracias profes Mariana Bonino, Delia Lucas, Candelaria Romero, Agostina Rivero y Anto Dellarossa .
                        GRACIAS ARCOR POR RECIBIRNOS TAN CALIDAMENTE</p>
                </div>
            </div>
            <h4 class="text-center"> Últimos meses</h4>

            <div class="row  borde-noticia mt-4">
                <div class="col-xl-4 col-md-12 col-sm-12  pl-0 mb-3">
                    <p class="ms-3">25 de septiembre</p>
                    <img src="../Assets/img/losterronesblog.jpg" class="card-img-top" alt="los terrones">
                </div>
                <div class="col-xl-8 col-md-12 col-sm-12 pt-5">
                    <h2 class="h4"> El paisaje milenario que podés descubrir en Córdoba</h2>
                    <p> Los Terrones: una zona de formaciones rocosas y arenisca formada en la
                        prehistoria, que se puede conocer a pocos kilómetros de Capilla del Monte.<br>
                        Si la Tierra pudiese hablar nos contaría historias increíbles de sus eras pasadas y los habitantes
                        que pisaron su suelo fértil. Aunque no tenga voz humana, deja el reflejo de sus milenios plasmados
                        en las formaciones que adornan su superficie. Los Terrones, en las cercanías de Capilla del Monte es
                        uno de esos lugares. ¿Lo conocés?<br>
                        El Parque Autóctono Cultural y Recreativo Los Terrones, queda a las afueras de la localidad
                        capillense, en el Valle de Punilla, y a unos 115 kilómetros de la ciudad de Córdoba. El predio del
                        parque guarda cañadones profundos y paredones de piedra rojiza, atravesados por arroyos.<br>
                        Abre todos los días, desde las 9:00 hasta las 18.30 horas, en horario de invierno.
                    </p>
                </div>
            </div>

            <div class="row  borde-noticia mt-4">
                <div class="col-xl-4 col-md-12 col-sm-12  pl-0 mb-3">
                    <p class="ms-3">18 de agosto</p>
                    <img src="../Assets/img/losgigantesblog.jpg" class="card-img-top" alt="los terrones">
                </div>
                <div class="col-xl-8 col-md-12 col-sm-12 pt-5">
                    <h2 class="h4"> Cierre Jornada de Intensificación de Saberes: PREVENCIÓN DE CONSUMOS PROBLEMÁTICOS 🎮🕹🖥📱💰❌🎁</h2>
                    <p> Se precipitaron en la zona de las sierras grandes. La temperatura en el lugar
                        es de 3 grados.<br>
                        Hoy compartimos lo trabajado en la JIS. Felicitaciones chicos y chicas. Gracias profes!!
                        Te compartimos algunas imágenes de esta maravillosa Jornada de aprendizaje💪
                        <br>
                      
                    </p>
                </div>
            </div>
        </div>
    </main>

    <!--footer-->
    <footer>
        <div class="mountain">
            <h2 class="foot-mountain"> <img id="logmountain" src="../Assets/img/logoMountainBlanco.png"
                    alt="logoMHblanco" width="60px">PRoA Sede Arroyito</h2>
            <p class="descripcion-foot">
                <li>Escuela ProA</li>
                <li>Especialidad Desarrollo de Software 👩‍💻👨‍💻</li>
                <li>Desde 2019/ Sede Arroyito</li>
                <li>Dirección General de Educación Técnica y Profesional. Zona X</li>
            </p>
        </div>
        <div class="contact">
            <h2 class="foot-contacto">CONTACTO</h2>
            <ul class="lista-contacto">
                <li><img id="logdireccion" src="../Assets/img/icono-direccion.png" alt="logoDireccion">Arroyito, Córdoba,
                    Argentina</li>
                <li><img id="logmail" src="../Assets/img/icono-Mail.png" alt="logoMail"> contacto@mountainhike.com
                </li>
                <li><img id="logtelefono" src="../Assets/img/icono-phone.png" alt="logoTelefono" width="40px"> 3514
                    56 6566</li>
                <li><img id="logwathsapp" src="../Assets/img/icono-whatsapp.png" alt="logoWhatsapp"> +54 3514566665
                </li>
            </ul>
        </div>
        <div class="seguinos">
            <h2 class="foot-seguinos">SEGUINOS</h2>
            <div class="seguinos-elements">
            <a href="https://www.facebook.com"><img id="logfacebook" src="../Assets/img/redes-facebook.png"
                    alt="logoFacebook" width="60px"></a>
            <a href="https://www.instagram.com"><img id="loginstagram" src="../Assets/img/redes-instagram.png"
                    alt="logoInstagram" width="60px"></a>
                </div>
        </div>
        <div class="rights">
            <h3 class="derechos-foot"> Quinto año promo 2024• Todos los Derechos Reservados •</h3>
            <a href="http://" target="_blank"><img id="logdisenando" src="../Assets/img/logoDiseñandoSinFronteras.png"
                    alt="logodelDiseñador" width="50px"><span class="badge bg-secondary"> Página creada por los estudiantes de quinto año</span ></a>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</body>
</html>