<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <link rel="stylesheet" href="../Styles/style.css" />
  <link rel="stylesheet" href="../Styles/nosotros.css" />
  <link rel="stylesheet" href="../Styles/nav1.css" />
  <link rel="stylesheet" href="../Styles/foot.css" />
  <link rel="icon" href="../Assets/img/logoMountainBlanco.png">
  <title>Nosotros</title>
</head>

<body>

  <header class="header">
    <a href="../../index.html" class="logo">
      <img src="../Assets/img/Logotipo/Logotipo_proa_sede_arroyito_formato_png.png" alt="logo de la compañia" class="logo-img" />
    </a>
    <input type="checkbox" id="check">
    <label for="check" class="mostrar-menu">
      &#8801
    </label>

    <nav class="navbar">
      <a href="../../index.html" class="nav-menu-item nav-link">Home</a>
      <a href="nosotros.html" class="nav-menu-item nav-link">Nosotros</a>
      <a href="Asesoramiento.html" class="nav-menu-item nav-link">Recorridos</a>
      <a href="blog.html" class="nav-menu-item nav-link">Blog</a>
      <a href="https://www.cba.gov.ar/escuelas-proa/">¿Que es PRoA?</a>
      <a href="loginPage.html" class="nav-menu-item nav-link">Iniciar sesión</a>
      <label for="check" class="esconder-menu">
        &#215
      </label>
    </nav>



  </header>
 
  <main>
    <h1>Futuros Egresados</h1>
    <p class="nosotros">
   Somos el grupo de 5to año, futura promo 24.
   A traves de este proyecto buscamos compartir e informar nustros proyectos y capacitaciones
   que fuimos realizando a lo largo de los 5 años de cursada.
   Somos 23 estudiantes: 
   <ul>
    <li>Rodrigo Banega</li>
    <li>Ivan Bertossi</li>
    <li>Tobias Buffa Perez</li>
    <li>Valentina Cabrera</li>
    <li>Facundo Carabajal</li>
    <li>Benjamín Castillo</li>
    <li>Francisco Cordoba</li>
    <li>Juan Demichelis</li>
    <li>Alexis Ferreyra</li>
    <li>Celeste Guipponi </li>
    <li>Tiago Juarez</li>
    <li>Nicolas Maidana</li>
    <li>Josefina Nicola</li>
    <li>Benjamin Perez</li>
    <li>Santiago Perez</li>
    <li>Sergio Romano</li>
    <li>Milton Sam Sam</li>
    <li>Santino Sayago</li>
    <li>Candela Sosa</li>
    <li>Tomás Varela</li>
    <li>Matias Venencia Oksdath</li>
    <li>Alvaro Zagonel</li>
    <li>Demian Zurita</li>
   </ul>
    </p>
    <img class="img_nosotros" src="../Assets/img/img_nosotros/santiago_manuel_saya.jpg" alt="santiago saya" /> 
    <img class="img_nosotros" src="../Assets/img/img_nosotros/valentina_cabrera.jpeg" alt="valentina_cabrera" />
    <img class="img_nosotros" src="../Assets/img/img_nosotros/candela_azul_sosa.jpg" alt="candela_azul_sosa" />
    <img class="img_nosotros" src="../Assets/img/img_nosotros/profe.jpg" alt="profesor de educación física" />
    <img class="img_nosotros" src="../Assets/img/img_nosotros/profe2.jpg" alt="profesor de educación física" />
    <img class="img_nosotros" src="../Assets/img/img_nosotros/profe3.jpg" alt="profesora de educación física" />

    <p class="proximamente">¡Próximamente!</p>
    <p class="proximamente">Sumate a nuestro equipo</p>
    <p class="proximamente">Envíanos tu currículum</p>
  </main>
  
  <footer>
    <div class="mountain">
      <h2 class="foot-mountain">
        <img id="logmountain" src="../Assets/img/logoMountainBlanco.png" alt="logoMHblanco" width="60px" />PRoA Sede Arroyito
      </h2>
      <p class="descripcion-foot">
        <li>Escuela ProA</li>
        <li>Especialidad Desarrollo de Software 👩‍💻👨‍💻</li>
        <li>Desde 2019/ Sede Arroyito</li>
        <li>Dirección General de Educación Técnica y Profesional. Zona X</li>
      </p>
    </div>
    <div class="contact">
      <h2 class="foot-contacto">CONTACTO</h2>
      <ul class="lista-contacto">
        <li>
          <img id="logdireccion" src="../Assets/img/icono-direccion.png" alt="logoDireccion" />
          Córdoba, Argentina
        </li>
        <li>
          <img id="logmail" src="../Assets/img/icono-Mail.png" alt="logoMail" />
          contacto@mountainhike.com
        </li>
        <li>
          <img id="logtelefono" src="../Assets/img/icono-phone.png" alt="logoTelefono" width="40px" />
          3514 56 6566
        </li>
        <li>
          <img id="logwathsapp" src="../Assets/img/icono-whatsapp.png" alt="logoWhatsapp" />
          +54 3514566665
        </li>
      </ul>
    </div>
    <div class="seguinos">
      <h2 class="foot-seguinos">SEGUINOS</h2>
      <div class="seguinos-elements">
      <a href="https://www.facebook.com"><img id="logfacebook" src="../Assets/img/redes-facebook.png"
          alt="logoFacebook" width="60px" /></a>
      <a href="https://www.instagram.com"><img id="loginstagram" src="../Assets/img/redes-instagram.png"
          alt="logoInstagram" width="60px" /></a>
        </div>
    </div>
    <div class="rights">
      <h3 class="derechos-foot">
        Quinto Año Promo 2024 • Todos los Derechos Reservados •
      </h3>
      <a href="http://" target="_blank"><img id="logdisenando" src="../Assets/img/logoDiseñandoSinFronteras.png" alt="logodelDiseñador"
          width="50px" /><span class="badge bg-secondary"> Página creada por los estudiantes de quinto año </span ></a>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>